In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('banking_data.csv')

In [5]:
file_path = 'banking_data.csv'
banking_data = pd.read_csv(file_path)

In [7]:
sorted_data = banking_data.sort_values(by='Account_Balance', ascending=False)
print(sorted_data.head(10))

          Date       Account_Type    Branch Transaction_Type  \
15  2023-01-03            Savings  Suburban   Service Charge
8   2023-01-20  Recurring Deposit  Downtown   Service Charge
2   2023-01-10            Current    Uptown     Loan Payment
7   2023-01-09            Current   Central     Loan Payment
17  2023-01-07            Current   Central     Loan Payment
1   2023-01-16            Current    Uptown       Withdrawal
19  2023-01-17            Savings   Central          Deposit
18  2023-01-12  Recurring Deposit  Suburban   Service Charge
16  2023-01-02      Fixed Deposit   Central          Deposit
14  2023-01-01      Fixed Deposit  Downtown       Withdrawal

    Transaction_Amount  Account_Balance
15             3350.32         12836.51
8              3899.98         12646.56
2              3363.85         12428.67
7              2346.72         10708.85
17             4116.52          9785.64
1               641.43          8908.39
19             4516.52          8789.19
18             1339.57          8666.74
16             4421.57          8330.40
14             4136.54          8175.08

In [9]:
banking_data['Transaction_Rank'] = banking_data.groupby('Branch')['Transaction_Amount'].rank(ascending=False, method='min')

In [11]:
print(banking_data[['Transaction_Amount', 'Branch', 'Transaction_Rank']].head())

   Transaction_Amount    Branch  Transaction_Rank
0              985.51   Central               7.0
1              641.43    Uptown               4.0
2             3363.85    Uptown               1.0
3             1914.60    Uptown               2.0
4             2788.57  Suburban               3.0