In [2]:
import pandas as pd
df = pd.read_csv('banking_data.csv')

file_path = 'banking_data.csv'  
banking_data = pd.read_csv(file_path)

filtered_data_1 = banking_data[banking_data['Transaction_Amount'] <= 2000]

filtered_data_2 = banking_data[(banking_data['Transaction_Type'] == 'Loan Payment') & 
                               (banking_data['Account_Balance'] > 5000)]

filtered_data_3 = banking_data[banking_data['Branch'] == 'Uptown']

print("Rows where Transaction_Amount <= 2000:")
print(filtered_data_1.head())

print("\nRows with Loan Payment and Account_Balance > 5000:")
print(filtered_data_2.head())

print("\nTransactions made in the Uptown branch:")
print(filtered_data_3.head())

Rows where Transaction_Amount <= 2000:
         Date       Account_Type    Branch Transaction_Type  \
0  2023-01-19      Fixed Deposit   Central     Loan Payment
1  2023-01-16            Current    Uptown       Withdrawal
3  2023-01-18            Savings    Uptown     Loan Payment
6  2023-01-04  Recurring Deposit   Central   Service Charge
9  2023-01-11      Fixed Deposit  Downtown          Deposit

   Transaction_Amount  Account_Balance
0              985.51          6839.59
1              641.43          8908.39
3             1914.60          5776.63
6             1621.82          6465.79
9             1529.59          2592.16

Rows with Loan Payment and Account_Balance > 5000:
          Date       Account_Type   Branch Transaction_Type  \
0   2023-01-19      Fixed Deposit  Central     Loan Payment
2   2023-01-10            Current   Uptown     Loan Payment
3   2023-01-18            Savings   Uptown     Loan Payment
7   2023-01-09            Current  Central     Loan Payment
13  2023-01-05  Recurring Deposit  Central     Loan Payment

    Transaction_Amount  Account_Balance
0               985.51          6839.59
2              3363.85         12428.67
3              1914.60          5776.63
7              2346.72         10708.85
13             4683.64          6762.43

Transactions made in the Uptown branch:
          Date   Account_Type  Branch Transaction_Type  Transaction_Amount  \
1   2023-01-16        Current  Uptown       Withdrawal              641.43
2   2023-01-10        Current  Uptown     Loan Payment             3363.85
3   2023-01-18        Savings  Uptown     Loan Payment             1914.60
12  2023-01-15  Fixed Deposit  Uptown   Service Charge             1225.50

    Account_Balance
1           8908.39
2          12428.67
3           5776.63
12          4224.47

In [4]:
import pandas as pd

file_path = 'banking_data.csv'  
banking_data = pd.read_csv(file_path)

banking_data['Transaction_Fee'] = banking_data['Transaction_Amount'] * 0.02
banking_data['Balance_Status'] = banking_data['Account_Balance'].apply(lambda x: 'High Balance' if x > 5000 else 'Low Balance')

# Display the transformed data with new columns
print("\nData with new columns 'Transaction_Fee' and 'Balance_Status':")
print(banking_data[['Transaction_Amount', 'Transaction_Fee', 'Account_Balance', 'Balance_Status']].head())

Data with new columns 'Transaction_Fee' and 'Balance_Status':
   Transaction_Amount  Transaction_Fee  Account_Balance Balance_Status
0              985.51          19.7102          6839.59   High Balance
1              641.43          12.8286          8908.39   High Balance
2             3363.85          67.2770         12428.67   High Balance
3             1914.60          38.2920          5776.63   High Balance
4             2788.57          55.7714          4779.04    Low Balance