In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [20]:
dt=pd.read_csv("data_clean.csv")
print(dt.head(11))

    Unnamed: 0  Ozone  Solar.R  Wind Temp C Month  Day  Year  Temp Weather
0            1   41.0    190.0   7.4     67     5    1  2010    67       S
1            2   36.0    118.0   8.0     72     5    2  2010    72       C
2            3   12.0    149.0  12.6     74     5    3  2010    74      PS
3            4   18.0    313.0  11.5     62     5    4  2010    62       S
4            5    NaN      NaN  14.3     56     5    5  2010    56       S
5            6   28.0      NaN  14.9     66     5    6  2010    66       C
6            7   23.0    299.0   8.6     65     5    7  2010    65      PS
7            8   19.0     99.0  13.8     59     5    8  2010    59       C
8            9    8.0     19.0  20.1     61     5    9  2010    61      PS
9           10    NaN    194.0   8.6     69     5   10  2010    69       S
10          11    7.0      NaN   6.9      C     5   11  2010    74       C

In [25]:
#Printing the info
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  158 non-null    int64
 1   Ozone       120 non-null    float64
 2   Solar.R     151 non-null    float64
 3   Wind        158 non-null    float64
 4   Temp C      158 non-null    object
 5   Month       158 non-null    object
 6   Day         158 non-null    int64
 7   Year        158 non-null    int64
 8   Temp        158 non-null    int64
 9   Weather     155 non-null    object
dtypes: float64(3), int64(4), object(3)
memory usage: 12.5+ KB

In [24]:
dt.describe()

,Unnamed: 0,Ozone,Solar.R,Wind,Day,Year,Temp
count,158.000000,120.000000,151.000000,158.000000,158.000000,158.0,158.000000
mean,79.500000,41.583333,185.403974,9.957595,16.006329,2010.0,77.727848
std,45.754781,32.620709,88.723103,3.511261,8.997166,0.0,9.377877
min,1.000000,1.000000,7.000000,1.700000,1.000000,2010.0,56.000000
25%,40.250000,18.000000,119.000000,7.400000,8.000000,2010.0,72.000000
50%,79.500000,30.500000,197.000000,9.700000,16.000000,2010.0,78.500000
75%,118.750000,61.500000,257.000000,11.875000,24.000000,2010.0,84.000000
max,158.000000,168.000000,334.000000,20.700000,31.000000,2010.0,97.000000

In [32]:
#drp=dt.drop("Unnamed: 0",axis=1, inplace=True)  modifies original data table
dt1=dt.drop("Unnamed: 0",axis=1) #modifies and give new data table untouching original data
print(dt1)
dt1.info()

     Ozone  Solar.R  Wind Temp C Month  Day  Year  Temp Weather
0     41.0    190.0   7.4     67     5    1  2010    67       S
1     36.0    118.0   8.0     72     5    2  2010    72       C
2     12.0    149.0  12.6     74     5    3  2010    74      PS
3     18.0    313.0  11.5     62     5    4  2010    62       S
4      NaN      NaN  14.3     56     5    5  2010    56       S
..     ...      ...   ...    ...   ...  ...   ...   ...     ...
153   41.0    190.0   7.4     67     5    1  2010    67       C
154   30.0    193.0   6.9     70     9   26  2010    70      PS
155    NaN    145.0  13.2     77     9   27  2010    77       S
156   14.0    191.0  14.3     75     9   28  2010    75       S
157   18.0    131.0   8.0     76     9   29  2010    76       C

[158 rows x 9 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Ozone    120 non-null    float64
 1   Solar.R  151 non-null    float64
 2   Wind     158 non-null    float64
 3   Temp C   158 non-null    object
 4   Month    158 non-null    object
 5   Day      158 non-null    int64
 6   Year     158 non-null    int64
 7   Temp     158 non-null    int64
 8   Weather  155 non-null    object
dtypes: float64(3), int64(3), object(3)
memory usage: 11.2+ KB

In [50]:
dt1['Month']=pd.to_numeric(dt['Month'],errors='coerce')
dt.info()
dt1.info()
print(dt.head(24))
print(dt1.head(24))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  158 non-null    int64
 1   Ozone       120 non-null    float64
 2   Solar.R     151 non-null    float64
 3   Wind        158 non-null    float64
 4   Temp C      158 non-null    object
 5   Month       158 non-null    object
 6   Day         158 non-null    int64
 7   Year        158 non-null    int64
 8   Temp        158 non-null    int64
 9   Weather     155 non-null    object
dtypes: float64(3), int64(4), object(3)
memory usage: 12.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Ozone    120 non-null    float64
 1   Solar.R  151 non-null    float64
 2   Wind     158 non-null    float64
 3   Temp C   158 non-null    object
 4   Month    157 non-null    float64
 5   Day      158 non-null    int64
 6   Year     158 non-null    int64
 7   Temp     158 non-null    int64
 8   Weather  155 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 11.2+ KB
    Unnamed: 0  Ozone  Solar.R  Wind Temp C Month  Day  Year  Temp Weather
0            1   41.0    190.0   7.4     67     5    1  2010    67       S
1            2   36.0    118.0   8.0     72     5    2  2010    72       C
2            3   12.0    149.0  12.6     74     5    3  2010    74      PS
3            4   18.0    313.0  11.5     62     5    4  2010    62       S
4            5    NaN      NaN  14.3     56     5    5  2010    56       S
5            6   28.0      NaN  14.9     66     5    6  2010    66       C
6            7   23.0    299.0   8.6     65     5    7  2010    65      PS
7            8   19.0     99.0  13.8     59     5    8  2010    59       C
8            9    8.0     19.0  20.1     61     5    9  2010    61      PS
9           10    NaN    194.0   8.6     69     5   10  2010    69       S
10          11    7.0      NaN   6.9      C     5   11  2010    74       C
11          12   16.0    256.0   9.7     69     5   12  2010    69      PS
12          13   11.0    290.0   9.2     66     5   13  2010    66       S
13          14   14.0    274.0  10.9     68     5   14  2010    68       S
14          15   18.0     65.0  13.2     58     5   15  2010    58       C
15          16   14.0    334.0  11.5     64     5   16  2010    64       S
16          17   34.0    307.0  12.0     66     5   17  2010    66       S
17          18    6.0     78.0  18.4     57     5   18  2010    57       C
18          19   30.0    322.0  11.5     68     5   19  2010    68      PS
19          20   11.0     44.0   9.7     62     5   20  2010    62       S
20          21    1.0      8.0   9.7     59     5   21  2010    59       S
21          22   11.0    320.0  16.6     73     5   22  2010    73       C
22          23    4.0     25.0   9.7     61     5   23  2010    61      PS
23          24   32.0     92.0  12.0     61   May   24  2010    61       C
    Ozone  Solar.R  Wind Temp C  Month  Day  Year  Temp Weather
0    41.0    190.0   7.4     67    5.0    1  2010    67       S
1    36.0    118.0   8.0     72    5.0    2  2010    72       C
2    12.0    149.0  12.6     74    5.0    3  2010    74      PS
3    18.0    313.0  11.5     62    5.0    4  2010    62       S
4     NaN      NaN  14.3     56    5.0    5  2010    56       S
5    28.0      NaN  14.9     66    5.0    6  2010    66       C
6    23.0    299.0   8.6     65    5.0    7  2010    65      PS
7    19.0     99.0  13.8     59    5.0    8  2010    59       C
8     8.0     19.0  20.1     61    5.0    9  2010    61      PS
9     NaN    194.0   8.6     69    5.0   10  2010    69       S
10    7.0      NaN   6.9      C    5.0   11  2010    74       C
11   16.0    256.0   9.7     69    5.0   12  2010    69      PS
12   11.0    290.0   9.2     66    5.0   13  2010    66       S
13   14.0    274.0  10.9     68    5.0   14  2010    68       S
14   18.0     65.0  13.2     58    5.0   15  2010    58       C
15   14.0    334.0  11.5     64    5.0   16  2010    64       S
16   34.0    307.0  12.0     66    5.0   17  2010    66       S
17    6.0     78.0  18.4     57    5.0   18  2010    57       C
18   30.0    322.0  11.5     68    5.0   19  2010    68      PS
19   11.0     44.0   9.7     62    5.0   20  2010    62       S
20    1.0      8.0   9.7     59    5.0   21  2010    59       S
21   11.0    320.0  16.6     73    5.0   22  2010    73       C
22    4.0     25.0   9.7     61    5.0   23  2010    61      PS
23   32.0     92.0  12.0     61    NaN   24  2010    61       C

In [55]:
#Identify and print all duplicated row
dt1[dt1.duplicated(keep=False)]

     Ozone  Solar.R  Wind Temp C  Month  Day  Year  Temp Weather
150   14.0    191.0  14.3     75    9.0   28  2010    75       S
156   14.0    191.0  14.3     75    9.0   28  2010    75       S

In [60]:
# drop duplicated rows
dt1.drop_duplicates(keep="first",inplace=True)
print(dt1.tail(9))
dt1.info()

     Ozone  Solar.R  Wind Temp C  Month  Day  Year  Temp Weather
148   30.0    193.0   6.9     70    9.0   26  2010    70       C
149    NaN    145.0  13.2     77    9.0   27  2010    77      PS
150   14.0    191.0  14.3     75    9.0   28  2010    75       S
151   18.0    131.0   8.0     76    9.0   29  2010    76      PS
152   20.0    223.0  11.5     68    9.0   30  2010    68       S
153   41.0    190.0   7.4     67    5.0    1  2010    67       C
154   30.0    193.0   6.9     70    9.0   26  2010    70      PS
155    NaN    145.0  13.2     77    9.0   27  2010    77       S
157   18.0    131.0   8.0     76    9.0   29  2010    76       C
<class 'pandas.core.frame.DataFrame'>
Index: 157 entries, 0 to 157
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Ozone    119 non-null    float64
 1   Solar.R  150 non-null    float64
 2   Wind     157 non-null    float64
 3   Temp C   157 non-null    object
 4   Month    156 non-null    float64
 5   Day      157 non-null    int64
 6   Year     157 non-null    int64
 7   Temp     157 non-null    int64
 8   Weather  154 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 12.3+ KB